h1 {
	color:#FFF;
	font-family: 'Source Sans Pro', sans-serif;
	text-transform:uppercase;
	dispay: inline-block;
	text-align:center;
	position:relative;
	text-shadow: 4px 4px 2px #000000;
}


.social-buttons {
  padding: 0;
  margin-top: 10px;
  text-align: center;
}

.social-buttons li {
  display: inline-block;
  margin: 0 10px;
}

.social-buttons li a {
  transition: transform 0.2s linear;
  width: 125px;
  height: 125px;
  display: block;
  border-radius: 100px;
  text-decoration: none;
  color: white;
}


.social-buttons li:hover a {
  transform: translateY(-10px);
}

.email {
  background-color: #2B2B2B;
}

.linkedin {
  background-color: #141412;
}

.github {
  background-color: #474B52;
}

.icon {
  margin-top: 18px;
  width: 90px;
  height: 90px;
}

@media (max-width: 800px) {
  .social-buttons li a {
    transition: transform 0.2s linear;
    width: 50px;
    height: 50px;
    border-radius: 25px;
  }

  .icon {
    margin-top: 10px;
    width: 30px;
    height: 30px;
  }
}
