body {
  margin: 0;
  background: rgba(256,256,256,.10);
  font-family: 'Open Sans', sans-serif;
  position: relative;
  height: 100vh;
}

canvas {
  display: block;
  vertical-align: bottom;
}

#bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #262626;
}

#content {
  position: fixed;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

#tuturu {
  border: 10px solid #3d3d3d;
  height: 300px;
  border-radius: 50%;
  width: 300px;
  background-color: white;
}

.text {
  color: #a4a4a4;
  text-align: center;
}

#content div a {
  margin: 0 40px;
  text-decoration: none;
  color: #a4a4a4;
  border-radius: 15px;
}

#content div a i {
  color: #a4a4a4;
  border: 2px solid #a4a4a4;
  border-radius: 15px;
  padding: 10 15px;
}

#content div a i:hover {
  color: #3d3d3d;
  padding: 10 15px;
  border-radius: 15px;
  border: 2px solid #3d3d3d;
}

#content div a i:active {
  color: #3d3d3d;
  padding: 10 15px;
  border-radius: 15px;
  border: 2px solid #3d3d3d;
}
