.bg {
  background: linear-gradient(116deg, var(--color1), var(--color2), var(--color3), var(--color4));
  background-size: 800% 800%;

-webkit-animation: AnimationName 10s ease infinite;
-moz-animation: AnimationName 30s ease infinite;
animation: AnimationName 10s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:38% 0%}
    50%{background-position:63% 100%}
    100%{background-position:38% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:38% 0%}
    50%{background-position:63% 100%}
    100%{background-position:38% 0%}
}
@keyframes AnimationName {
    0%{background-position:38% 0%}
    50%{background-position:63% 100%}
    100%{background-position:38% 0%}
}
