.tuturu {
  width: 150px;
  height: 150px;
  margin-top: 25%;
  background-color: white;
  border: 5px solid #3d3d3d;
  border-radius: 50%;
}

@media (min-width: 800px) {
  .tuturu {
    border: 10px solid #3d3d3d;
    margin-top: 20px;
    min-width: 150px;
    max-width: 300px;
    min-height: 150px;
    max-height: 150px;
  }
}
