.tuturu {
  min-width: 150px;
  min-height: 150px;
  max-width: 300px;
  max-height: 300px;
  margin-top: 5%;
  background-color: white;
  border: 10px solid #3d3d3d;
  border-radius: 50%;
}


@media (max-width: 800px) {
  .tuturu {
    border: 5px solid #3d3d3d;
  }
}

@media (max-height: 1000px) {
  .tuturu {
    margin-top: 10px;
  }
}
