.button-container {
  vertical-align: middle;
  border-radius: 0.3em;
  display: inline-block;
  position: relative;
  overflow: hidden;
  font-weight: 400;
  transition: 0.5s;
  letter-spacing: 1px;
}
.button-container button {
  width: 100%;
  padding: 12px 12px;
  height: 100%;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1px;
  -webkit-mask: url("../../static/img/urban-sprite.png");
  mask: url("../../static/img/urban-sprite.png");
  -webkit-mask-size: 3000% 100%;
  mask-size: 3000% 100%;
  border: none;
  cursor: pointer;
  -webkit-animation: ani2 0.7s steps(29) forwards;
  animation: ani2 0.7s steps(29) forwards;
}
.button-container button:hover {
  -webkit-animation: ani 0.7s steps(29) forwards;
  animation: ani 0.7s steps(29) forwards;
}

.mas {
  position: absolute;
  text-align: center;
  width: 101%;
  font-weight: 400;
  position: absolute;
  font-size: 20px;
  margin-top: 11px;
  overflow: hidden;
}

@-webkit-keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}

@-webkit-keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}
@keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}
